<section class="collection">
    {{#each arrayOfAlbums }}
    <div class="card">
        <img src="{{this.images.1.url}}" alt="{{this.name}}">
        <div class="title-btn">
            <h3 class="title">{{ this.name }} </h3>
            <a href="/tracks/{{this.id}}"><button class="btn">View Tracks</button></a>
        </div>
    </div>
    {{/each }}
</section>