<section class="collection">
    {{#each album }}
    <div class="card">
        <img src="{{this.images.1.url}}" alt="album image">
        <div class="title-btn">
            <h3 class="title">{{ this.name }} </h3>
            <button class="red-btn"><a href="/tracks/{{this.id}}">View Tracks</a></button>
        </div>
    </div>
    {{/each }}
</section>