<section class="song-list">
    <h1 class="title-main">TRACKS</h1>
    {{#each tracks}}
    <ul >
        <div class="song-item">
            <li class="song-name">{{this.name}}</li>
            {{#if this.preview_url}}
                <audio controls src="{{this.preview_url}}"></audio>
            {{else}}
                <p>Preview not available</p>
            {{/if}}
        </div>
    </ul>
    {{/each}}
</section>